.wrapper{
    width: 400px;
    border: 2px solid;
    text-align: center;
    background-color: rgb(0, 0, 0 , 0.6);
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.wrapper h1{
    font-size: 40px;
    color: aquamarine;
    text-shadow: 0px 0px 4px white;
}
 .form-container{
    width: 90%;
    margin: 0px auto;
} 
.form-container input{
    width: 80%;
    border: none;
    outline: none;
    padding: 8px;
    border: 1px solid;
    font-size: 18px;
}
.form-container button{
    padding: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
} 
.form-container button:hover{
    background-color: aquamarine;
}
.todocontainer{
    margin-top: 10px;
}
.todocontainer li{
    background-color: white;
    padding: 8px 6px;
    margin: 6px 50px;
    list-style-type: none;
    position: relative;
    align-items: center;
    color: black;
    font-size: 18px;

}
.todocontainer li i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: brown;
    margin-top: 4px;
}
@media screen and (max-width : 450px){
    .wrapper{
        width: 300px;
        border: 1px solid;
    }
    /* .form-container{
        width: 80%;
    } */
    .form-container input{
        width: 70%;
    }
    
}